body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: black;

  .twoDGif {
    position: fixed;
    height: 100vh;
    width: min(60vw, 80vh * 460/672);
    top: 0;
    display: flex;
    align-items: center;
    right: 55vw;
    z-index: -1;

    img {
      width: 100%;
      height: min(80%, 60vw * 672/460);
      transform: scale(5);
    }
  }

  #app {
    section {
      height: calc(50vh + 14px);

      .content {
        text-align: center;
        margin-top: calc(50vh - 14px);
      }
    }

    .filtering {
      .content {
        .filterBtn {
          background: rgba(0, 0, 0, 0.5);
          color: white;
          padding: 15px 20px;
          margin: 3px;
          border: solid 2px white;
          border-radius: 7px;
        }
        .filterBtn:hover {
          background: rgba(116, 116, 116, 0.5);
          cursor: pointer;
        }
        .selected {
          background: rgba(116, 116, 116, 0.5);
        }

      }
    }

    // LAST SECTION
    .closing {
      height: calc(50vh + 140px/2);

      .content {
        margin-top: calc(50vh - 140px/2);
      }
    }
  }
}


canvas
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}